<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="undefined"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Aviso de Cobro | In.Planet</title>
    <link rel="icon" href="/static/notify/img/favicon.png"/>
    <link rel="stylesheet" href="/static/notify/css/style.css"/>
    <link type="text/plain" rel="author" href="humans.txt"/>
  </head>
  <body>
    <header>
      <nav></nav>
    </header>
    <main>
      <div class="modal">
          {% block content %}{% endblock %}
      </div>
    </main>
    <footer></footer>
  </body>
</html>
