{% extends "notify/base.html" %}

{% block content %}
    <div class="contenido"><img src="/static/notify/img/notify2.jpg" alt="Ventana de aviso"/>
      <div class="info"> 
        <p class="linea">Estimado <span>Sr.(a): {{ name }}</span></p>
        <p class="linea">In.Planet le recuerda que para continuar gozando de su servicio de Internet, debe efectuar el pago de
        <span>{{ item.total }}</span></p>
        <p class="linea">Fecha máximo de pago <span>{{ item.date | date:"SHORT_DATE_FORMAT" }}</span></p><a href="">Continuar</a>
      </div>
    </div>
{% endblock %}
