{% extends "notify/base.html" %}

{% block content %}
    <div class="contenido"><img src="http://notify.in-planet.net/static/notify/img/alert2.jpg" alt="Ventana de aviso"/>
      <div class="info"> 
        <p class="linea">Estimado <span>Sr.(a): {{ name }}</span></p>
        <p class="linea">Tiene pendiente el pago correspondiente al mes de Julio, por el valor de {{ item.residual }} comuniquese al 1700-467526, 04-3-712922 y Evite Suspensión.</p>
        <a href="">Continuar</a>
      </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $.getJSON("/confirm/");
        });
    </script>
{% endblock %}
