{% extends "notify/base.html" %}

{% block content %}
    <div class="contenido"><img src="http://notify.in-planet.net/static/notify/img/alert2.jpg" alt="Ventana de aviso"/>
      <div class="info"> 
        <p class="linea">Estimado <span>Sr.(a): {{ name }}</span></p>
        <p class="linea">Lamentablemente no hemos registrado su pago, por favor acérquese a nuestras oficinas o comuníquese al 1700-467526, 04-3-712922. Evite Suspensión.</p>
        <a href="">Continuar</a>
      </div>
    </div>
{% endblock %}
